[Unit]
Description=Blink Config Service
After=network.target blink-dsp.service blink-snmp.service

[Service]
Type=oneshot
ExecStart=/usr/share/blink-config/bin/config.sh
RemainAfterExit=yes
User=blink
Group=blink

[Install]
WantedBy=multi-user.target